@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f89809;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #252525;
}

*::-webkit-scrollbar-thumb {
  background-color: #f89809;
  border-radius: 8px;
}

@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
